<div id="<%= date.getTime() %>-note" class="displaycard displaycard-note">
  <div class="displaycard-heading">
    <h3><%= getLocaleTimestamp() %></h3>
  </div>
  <div class="displaycard-content">
    <p><%= text %>
  </div>
</div>